#form1  { display: table;      }
#form1 > div   { display: table-row;  }
#form1  label { display: table-cell; }
#form1  input { display: table-cell; }

.hidden {
    visibility: hidden;
}

.greyed {
    opacity: 0.2;
    filter: alpha(opacity=20); /* msie */
}

